/* CSS declarations go here */


/* .layout-page,
.layout-page *
{
    background-color: rgba(0, 0, 0, 0.3);
} */

body,
body *
{
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.page,
#render-target
{
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
}

#render-target *
{
    font-family: Roboto;
}

.page.menu .screen .popup-slider
{
    top: 50%;
    left:-50%;
    width: 50%;
    color: #333;
    padding: 20px 20px 10px 20px;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-out;
    font-weight: bold;
    background-color: #fff;
}

.page.menu .screen .popup-slider.show
{
    left: 50%;
}

.page.menu .screen .popup-slider input[type="range"]
{
    width: 100%;
    margin: 20px 0px;
    padding: 0px;
    outline: none;
    /* margin-top: 20px;     */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.page.menu .screen .popup-slider input[type="button"]
{
    float: right;
    border: 0px;
    outline: none;
    padding: 5px 10px;
    background: transparent;
}

/* Special styling for WebKit/Blink */
.page.menu .screen .popup-slider input::-webkit-slider-thumb
{
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-top: -7px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
    background: #e0e0e0;
    appearance: none;
    border-radius: 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.page.menu .screen .popup-slider input::-webkit-slider-runnable-track
{
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #bdbdbd;
    border-radius: 2px;
}