
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ludusgames-01</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="render-target">
        <!-- Game Screen -->
        <div class="layout-page game">
            <div class="layout-header"></div>
            <div class="layout-footer">
                <ul class="action_button_game">
                    <li id="add" class="option"></li>
                    <li id="mul" class="option"></li>
                    <li id="div" class="option"></li>
                    <li id="sub" class="option"></li>
                    <i class="material-icons"> touch_apps </i>
                </ul>
            </div>
            <div class="layout-content"></div>
            
            <div class="title">
                <i class="material-icons">chevron_left</i>
                <span class="text"> Target </span>
                <span class="counter"> Moves: 0 </span>
                <span class="tile target"> 0 </span>
            </div>
            <!--
            <div class="screen">
                <div class="tile number"> 0 </div>
                <div class="tile-random-list">
                    <div class="tile l2"> 0 </div>
                    <div class="tile l1"> 0 </div>
                    <div class="tile random"> 0 </div>
                    <div class="tile r1"> 0 </div>
                    <div class="tile r2"> 0 </div>
                </div>
                <div class="operator-dock">
                    <i class="material-icons">done</i>
                </div>
            </div>
            <div class="toolbar">
                <div id="add" class="operator"></div>
                <div id="sub" class="operator"></div>
                <div id="mul" class="operator"></div>
                <div id="div" class="operator"></div>
            </div>
            -->
        </div>
        <!-- Menu Screen -->
        <div class="layout-page menu">
            <div class="layout-header">
                <p class="title"> Numero </p>
            </div>
            <div class="layout-footer">
                <ul class="carousell_pins">
                    <li class="pin"> 1 </li>
                    <li class="pin"> 2 </li>
                    <li class="pin"> 3 </li>
                    <li class="pin"> 4 </li>
                    <li class="pin"> 5 </li>
                </ul>
            </div>
            <div class="layout-content">
                <ul class="carousell_pages">
                    <li class="page">
                        <div class="title"> single </div>
                        <div class="information"> Challenge yourself with this game mode! </div>
                        <button class="random"> play </button>
                    </li>
                    <li class="page">
                        <div class="title"> custom </div>
                        <div class="information"> Challenge yourself with this game mode! </div>
                        <button class="custom"> play </button>
                    </li>
                    <li class="page">
                        <div class="title"> slider </div>
                        <div class="information"> Challenge yourself with this game mode! </div>
                        <button class="slider"> play </button>
                    </li>
                    <li class="page">
                        <div class="title"> settings </div>
                        <div class="information"> settings are coming soon! </div>
                    </li>
                    <li class="page">
                        <div class="title"> about </div>
                        <div class="information">
                            Numero is a number game. With a variety of different game modes, numero challenges your way of thinking about numbers!
                        </div>
                    </li>
                </ul>
                <div class="carousell_button left">
                    <i class="material-icons"> chevron_left </i>
                </div>
                <div class="carousell_button right">
                    <i class="material-icons"> chevron_right </i>
                </div>
            </div>
        </div>
    </div>
</body>