/** Dependencies **********************************************************************************/
/** Declarations **********************************************************************************/

/*## Title #####################################*/

.page.game .title
{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    line-height: var(--page-title-size);
}

.page.game .title i
{
    top: 50%;
    left: calc((var(--page-title-size) - 48px) / 2);
    width: 48px;
    height: 48px;
    position: absolute;
    font-size: 48px;
    transform: translateY(-50%);
}

.page.game .title .text
{
    margin-right: 10px;
}

.page.game .title .target
{
    display: inline-block;
    position: relative;
    /* line-height: calc(var(--page-operator-size) + 12px); */
    border-radius: 4px;
}

.page.game .title .counter
{
    top: var(--page-title-size);
    left: 50%;
    height: 20px;
    position: absolute;
    font-size: 20px;
    transform: translateX(-50%);
    line-height: 20px;
}

/*## Screen ####################################*/

.page.game .screen .tile
{
    top: 50%;
    left: 50%;
    position: absolute;
    font-size: 20px;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
}

.page.game .screen .number
{
    top: calc(50% - (var(--page-operator-size) + 45px));
}

.page.game .screen .tile-random-list
{
    top: calc(50% + (var(--page-operator-size) + 45px));
}

.page.game .screen .operator-dock
{
    top: 50%;
    left: 50%;
    width: calc(var(--page-operator-size) + 20px);
    height: calc(var(--page-operator-size) + 20px);
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.page.game .screen .operator-dock i
{
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    font-size: 40px;
    transform: translate(-50%, -50%);
}

/*## Toolbar ###################################*/

.page.game .toolbar .operator
{
    bottom: calc((var(--page-toolbar-size) - var(--page-operator-size)) / 2);
    position: fixed;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    line-height: var(--page-operator-size);
    border-radius: 50%;
}

.page.game .toolbar .operator#add
{
    left: calc(20%);
}

.page.game .toolbar .operator#sub
{
    left: calc(40%);
}

.page.game .toolbar .operator#mul
{
    left: calc(60%);
}

.page.game .toolbar .operator#div
{
    left: calc(80%);
}

/**************************************************************************************************/