/** Dependencies **********************************************************************************/
/** Declarations **********************************************************************************/

.layout-page.menu .layout-header .title
{
    top: 50%;
    width: 100%;
    margin: 0px;
    height: 50%;
    padding: 0px;
    position: absolute;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-family: Roboto;
    line-height: calc(var(--layout-page-height) / 2.0);
    letter-spacing: 2px;
}

.layout-page.menu .layout-content .page .title
{
    position: relative;
}

.layout-page.menu .layout-content .page .information
{
    position: relative;
}

.layout-page.menu .layout-footer .pin
{
    background-color: #fff !important;
}


/* .page.menu .play
{
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    position: absolute;
    font-size: 64px;
    transform: translate(-50%, -50%);
} */

.page.menu .helper
{
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(calc(-100% - 40px), -50%);
    text-align: center;
}

.page.menu .helper p
{
    height: 20px;
}

.page.menu .helper img
{
    height: 60px;
    transform: rotateZ(-60deg);
}


.page.menu .description
{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    opacity: 0.0;
    position: absolute;
    text-align: center;
    transition: all ease-out 0.2s;
    line-height: 60px;
}

.page.menu .description.show
{
    opacity: 1.0;
    transition: all ease-out 0.4s;
    transition-delay: 0.2s;
}

.page.menu .leaderboard
{
    display: none;
    top: 75%;
    left: 50%;
    width: 100%;
    height: calc(55% - 160px);
    margin: 0px;
    padding: 0px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.page.menu .leaderboard p
{
    width: 100%;
    margin: 0px;
    height: 20px;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

.page.menu .leaderboard ul
{
    left: 50%;
    width: calc(45px * 5);
    margin: 0px;
    height: calc(100% - 20px);
    padding: 0px;
    display: block;
    position: absolute;
    transform: translateX(-50%);
}

.page.menu .leaderboard ul li
{
    width: calc(100% - 4px);
    height: calc(20% - 4px);
    margin: 4px;
}

.page.menu .toolbar .operator
{
    left: 50%;
    bottom: calc((var(--page-toolbar-size) - var(--page-operator-size)) / 2);
    text-align: center;
    line-height: var(--page-operator-size);
}

.page.menu .toolbar .operator i
{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.page.menu .toolbar .operator#random
{
    left: calc(50% - var(--page-operator-size) * 1.5);
}

.page.menu .toolbar .operator#slider
{
    font-weight: bold;
    left: calc(50% - var(--page-operator-size) * 0.0);
}

.page.menu .toolbar .operator#custom
{
    left: calc(50% + var(--page-operator-size) * 1.5);
}

/**************************************************************************************************/