/** Dependencies **********************************************************************************/

:root
{
    --layout-page-rect-w: 100%;
    --layout-page-rect-h: 100%;

    --layout-header-rect-w: 100%;
    --layout-header-rect-h: 100px;
    
    --layout-footer-rect-w: 100%;
    --layout-footer-rect-h: 100px;
}

/** Declarations **********************************************************************************/

.layout-page
{
    /* variables */
    --rect-w: var(--layout-page-rect-w);
    --rect-h: var(--layout-page-rect-h);
    /* properties */
    top: 50%;
    left: 50%;
    width: var(--rect-w);
    height: var(--rect-h);
    position: absolute;
    transform: translate(-50%, -50%);
}

.layout-header
{
    /* variables */
    --rect-x: 0px;
    --rect-y: 0px;
    --rect-w: var(--layout-header-rect-w);
    --rect-h: var(--layout-header-rect-h);
    /* properties */
    top: var(--rect-y);
    left: var(--rect-x);
    width: var(--rect-w);
    height: var(--rect-h);
    position: absolute;
}

.layout-footer
{
    /* variables */
    --rect-x: 0px;
    --rect-y: 0px;
    --rect-w: var(--layout-footer-rect-w);
    --rect-h: var(--layout-footer-rect-h);
    /* properties */
    left: var(--rect-x);
    width: var(--rect-w);
    bottom: var(--rect-y);
    height: var(--rect-h);
    position: absolute;
}

.layout-content
{
    /* variables */
    --rect-x: 0px;
    --rect-y: var(--layout-header-rect-h);
    --rect-w: 100%;
    --rect-h: calc(100% - var(--layout-header-rect-h) - var(--layout-footer-rect-h));
    /* properties */
    top: var(--rect-y);
    left: var(--rect-x);
    width: var(--rect-w);
    height: var(--rect-h);
    position: absolute;
    overflow-x: auto;
    overflow-y: auto;
}

/**************************************************************************************************/