/** Dependencies **********************************************************************************/

:root
{
    --page-tile-size: 55px;
    --page-title-size: 80px;
    --page-toolbar-size: 80px;
    --page-operator-size: 55px;
}

/** Declarations **********************************************************************************/


.page .tile
{
    width: var(--page-tile-size);
    height: var(--page-tile-size);
    line-height: var(--page-tile-size);
}

.page.game .title
{
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--page-title-size);
    position: fixed;
    line-height: var(--page-title-size);
}

.page .screen
{
    top: var(--page-title-size);
    left: 0px;
    width: 100%;
    bottom: var(--page-toolbar-size);
    height: calc(100% - var(--page-title-size) - var(--page-toolbar-size));
    position: fixed;
}

.page .toolbar
{
    left: 0px;
    width: 100%;
    height: var(--page-toolbar-size);
    bottom: 0px;
    position: fixed;
}

.page .operator
{
    width: var(--page-operator-size);
    height: var(--page-operator-size);
    position: fixed;
    transform: translate(-50%, -50%);
}

.page .operator-dock
{
    top: 50%;
    left: 50%;
    width: calc(var(--page-operator-size) + 20px);
    height: calc(var(--page-operator-size) + 20px);
    position: fixed;
    transform: translate(-50%, -50%);
}

.page .tile-random-list
{
    top: 50%;
    left: 50%;
    width: calc((var(--page-tile-size) + 5px) * 5);
    height: var(--page-tile-size);
    position: fixed;
    transform: translate(-50%, -50%);
}

.page.game .screen .tile-random-list .l2
{
    left: calc(50% - (var(--page-tile-size) + 5px) * 1.8);
}
.page.game .screen .tile-random-list .l1
{
    left: calc(50% - (var(--page-tile-size) + 5px) * 1);
}
.page.game .screen .tile-random-list .r1
{
    left: calc(50% + (var(--page-tile-size) + 5px) * 1);
}
.page.game .screen .tile-random-list .r2
{
    left: calc(50% + (var(--page-tile-size) + 5px) * 1.8);
}

/**************************************************************************************************/