/** Dependencies **********************************************************************************/

:root
{
    --var-operatorAnimation-alpha: 1.0;
}

@keyframes fadeInTile_L
{
    0%   { opacity: 0.0; transform: translateX(100%); }
    100% { opacity: 0.5; transform: translateX( 50%); }
}

@keyframes fadeInTile_L
{
    0%   { opacity: 0.0; transform: translateX(  0%); }
    100% { opacity: 0.5; transform: translateX( 50%); }
}

@keyframes growInTile_L
{
    0%   { opacity: 0.5; transform: translateX(100%); }
    100% { opacity: 1.0; transform: translateX( 50%); }
}

@keyframes growInTile_R
{
    0%   { opacity: 0.5; transform: translateX(  0%); }
    100% { opacity: 1.0; transform: translateX( 50%); }
}

@keyframes glowAnimation
{
    0%   {
        box-shadow: 0px 0px  20px 4px rgba(0, 255, 157, 0.4);
        background-color: rgba(0, 255, 157, calc(0.1 * var(--var-operatorAnimation-alpha)));
    }
    50%  {
        box-shadow: 0px 0px  40px 8px rgba(0, 255, 157, 1.0);
        background-color: rgba(0, 255, 157, calc(0.4 * var(--var-operatorAnimation-alpha)));
    }
    100% {
        box-shadow: 0px 0px  20px 4px rgba(0, 255, 157, 0.4);
        background-color: rgba(0, 255, 157, calc(0.1 * var(--var-operatorAnimation-alpha)));
    }
}

@keyframes pulseAnimation
{
    0%   { box-shadow: 0px 0px  20px  4px rgba(0, 0, 32, calc(0.8 * var(--var-operatorAnimation-alpha))); }
    100% { box-shadow: 0px 0px 200px 40px rgba(0, 0, 32, calc(0.0 * var(--var-operatorAnimation-alpha))); }
}

@keyframes fadeOutAnimation
{
    50%   { top: 50%; left: 50%; opacity: 1; }
    100%  { top: 50%; left: 50%; opacity: 0; }
}

@keyframes backgroundAnimation_1
{
    0%   { background-size: 64px 64px; background-position:   0px  0px; }
    100% { background-size: 64px 64px; background-position: 640px 64px; }
}

@keyframes backgroundAnimation_2
{
    0%   { background-size: 64px 64px; background-position:  0px 640px; }
    100% { background-size: 64px 64px; background-position: 64px   0px; }
}

/** Declarations **********************************************************************************/

body
{
    color: #fff;
    background: #27d4ff url(images/pattern.png);
    animation-name: backgroundAnimation_1;
    animation-duration: 60.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

body,
body *
{
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#render-target
{
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

/* .page .title
{
    background: linear-gradient(
        rgba(0, 17, 22, 0.4),
        rgba(0, 0, 0, 0)
    );
} */

.page .toolbar
{
    background: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 17, 22, 0.4)
    );
}

.page .toolbar .operator.dock
{
    animation: fadeOutAnimation;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.page .toolbar .operator.pulse,
.page .screen .operator-dock.pulse
{
    animation-name: pulseAnimation;
    animation-delay: 1.2s;
    animation-duration: 2.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.page .screen .operator-dock.glow
{
    animation-name: glowAnimation;
    animation-delay: 0.2s;
    animation-duration: 2.0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/*## Menu Page #################################*/

.menu
{
    background: #e41f40 url(images/pattern.png);
    animation-name: backgroundAnimation_2;
    animation-duration: 60.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
}

.menu.hide
{
    left: -50%;
}

.menu .toolbar .operator
{
    color: #e41f40;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 14, 61, 0.2);
}

.menu .screen .operator-dock
{
    border: 4px solid #ffffff;
    transition: box-shadow 0.3s linear;
    border-radius: 50%;
}

/*## Game Page #################################*/

.page.game
{
    background: radial-gradient(circle, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
}

.page.game .title .target
{
    background-color: rgb(228, 31, 64);
    box-shadow: 0px 4px 0px 0px rgb(168, 9, 36);
}

.page.game .screen .number
{
    color: rgb(62, 202, 121);
    background-color: rgb(106, 255, 168);
    box-shadow: 0px 4px 0px 0px rgb(62, 202, 121);
}

.page.game .screen .random,
.page.game .screen .tile-random-list .tile
{
    color: rgb(137, 204, 99);
    background-color: rgb(192, 255, 156);
    box-shadow: 0px 4px 0px 0px rgb(137, 204, 99);
}

.page.game .screen .operator-dock
{
    border: 4px solid rgb(148, 255, 193);
    transition: box-shadow 0.3s linear;
    /* box-shadow: 0px 0px 300px 60px rgb(0, 255, 85); */
}

.page.game .screen .operator-dock i
{
    color: rgb(148, 255, 193);
    opacity: 0;
    transition: all 1.0s ease-in;
    font-weight: bold;
}

.page.game .screen .operator-dock i.show
{
    opacity: 1;
}

.page.game .screen .tile-random-list .tile
{
    transition: all ease-out 0.2s;
}

.page.game .screen .tile-random-list .tile.l1,
.page.game .screen .tile-random-list .tile.r1
{
    opacity: 0.5;
    transform: translate(-50%, calc(var(--page-tile-size) * -0.4)) scale(0.8);
}

.page.game .screen .tile-random-list .tile.l2,
.page.game .screen .tile-random-list .tile.r2
{
    opacity: 0.0;
    transform: translate(-50%, calc(var(--page-tile-size) * -0.3)) scale(0.6);
}

.page.game .screen .tile-random-list .tile.hidden
{
    opacity: 0.0;
}

.page.game .toolbar .operator
{
    transition: box-shadow 0.3s ease-out;
    box-shadow: 0px 0px 20px 0px rgba(0, 14, 61, 0.2);
    background-size: calc(var(--page-operator-size) + 20px) calc(var(--page-operator-size) + 20px);
    background-color: rgb(66, 170, 109);
    background-image: url(images/operators.png);
    background-repeat: no-repeat;
}

.page.game .toolbar .operator#add
{
    background-position-x: calc(50% - (0.25 * (var(--page-operator-size) + 20px)));
    background-position-y: calc(50% + (0.25 * (var(--page-operator-size) + 20px)));
}

.page.game .toolbar .operator#sub
{
    background-position-x: calc(50% + (0.25 * (var(--page-operator-size) + 20px)));
    background-position-y: calc(50% + (0.25 * (var(--page-operator-size) + 20px)));
}

.page.game .toolbar .operator#mul
{
    background-position-x: calc(50% - (0.25 * (var(--page-operator-size) + 20px)));
    background-position-y: calc(50% - (0.25 * (var(--page-operator-size) + 20px)));
}

.page.game .toolbar .operator#div
{
    background-position-x: calc(50% + (0.25 * (var(--page-operator-size) + 20px)));
    background-position-y: calc(50% - (0.25 * (var(--page-operator-size) + 20px)));
}

/**************************************************************************************************/