.layout-page.menu .layout-content .page .title
{
    top: 0px;
    left: 50%;
    height: 36px;
    padding: 2px 8px;
    position: absolute;
    font-size: 14pt;
    transform: translateX(-50%);
    text-align: center;
    font-style: italic;
    border-top: 2px solid #fff;
    line-height: 20px;
    letter-spacing: 1px;
}

.layout-page.menu .layout-content .page .information
{
    top: 40px;
    left: 0px;
    width: 100%;
    height: 100px;
    text-align: center;
    position: absolute;
}

.layout-page.menu .layout-content .page button
{
    left: 0px;
    width: 100%;
    color: #fff;
    bottom: 0px;
    border: 0px;
    height: 40px;
    outline: none;
    display: block;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0);
}