@font-face
{
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/material-icons.woff2);
}

.material-icons
{
    font-family: 'Material Icons' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; width: 18px; height: 18px; }
.material-icons.md-24 { font-size: 24px; width: 24px; height: 24px; }
.material-icons.md-36 { font-size: 36px; width: 36px; height: 36px; }
.material-icons.md-48 { font-size: 48px; width: 48px; height: 48px; }

/* Rules for inactive icons */
.material-icons.md-inactive { opacity: 0.3; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }