/** Dependencies **********************************************************************************/

:root
{
    --action_button_game_width: 56px;
    --action_button_game_fontSize: 24px;
}

/** Declarations **********************************************************************************/

.action_button_game
{
    top: 50%;
    left: 50%;
    width: var(--action_button_game_width);
    height: var(--action_button_game_width);
    margin: 0px;
    z-index: 1000;
    padding: 0px;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: var(--action_button_game_width);
    transition: all ease-out 0.1s;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.493);
    border-radius: 50%;
}

.action_button_game.show
{
    box-shadow: 0px 0px 0px calc(var(--action_button_game_width) * 1.5) rgb(148, 148, 148);
}

.action_button_game .option,
.action_button_game i.material-icons
{
    top: 50%;
    left: 50%;
    width: 55px;
    margin: 0px;
    height: 55px;
    padding: 0px;
    display: block;
    z-index: -1000;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: var(--action_button_game_fontSize);
    transition: all ease-out 0.2s;
}

.action_button_game .option
{
    opacity: 0.0;
    border-radius: 50%;
    background-size: 75px 75px;
    background-image: url(images/operators.png);
    background-repeat: no-repeat;
}

.action_button_game .option#add
{
    background-position-x: calc(50% - (0.3 * (var(--page-operator-size) + 20px)));
    background-position-y: calc(50% + (0.3 * (var(--page-operator-size) + 20px)));
}

.action_button_game .option#sub
{
    background-position-x: calc(50% + (0.3 * (var(--page-operator-size) + 20px)));
    background-position-y: calc(50% + (0.3 * (var(--page-operator-size) + 20px)));
}

.action_button_game .option#mul
{
    background-position-x: calc(50% - (0.3 * (var(--page-operator-size) + 20px)));
    background-position-y: calc(50% - (0.3 * (var(--page-operator-size) + 20px)));
}

.action_button_game .option#div
{
    background-position-x: calc(50% + (0.3 * (var(--page-operator-size) + 20px)));
    background-position-y: calc(50% - (0.3 * (var(--page-operator-size) + 20px)));
}

.action_button_game .option.show
{
    opacity: 0.5;
    transition-delay: unset;
    transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.action_button_game i.material-icons
{
    color: #666;
    width: var(--action_button_game_fontSize);
    height: var(--action_button_game_fontSize);
    border: calc((var(--action_button_game_width) - var(--action_button_game_fontSize)) / 2 + 1px) solid rgb(148, 148, 148);
    line-height: var(--action_button_game_fontSize);
    border-radius: 50%;
    background-color: rgb(148, 148, 148);
}

/**************************************************************************************************/