/** Dependencies **********************************************************************************/

:root
{
    --carousell_pins_radius: 20px;
    --carousell_pins_padding: 4px;
}

/** Declarations **********************************************************************************/

.carousell_pins
{
    top: 50%;
    left: 50%;
    float: left;
    margin: 0px;
    padding: var(--carousell_pins_padding);
    position: absolute;
    max-width: 100%;
    transform: translate(-50%, -50%);
    overflow-x: auto;
    white-space: nowrap;
    border-radius: var(--carousell_pins_radius);
}

.carousell_pins .pin
{
    width: var(--carousell_pins_radius);
    height: var(--carousell_pins_radius);
    margin: var(--carousell_pins_padding);
    opacity: 0.2;
    padding: 0px;
    display: inline-block;
    position: relative;
    border-radius: var(--carousell_pins_radius);
}

.carousell_pins .pin.active
{
    opacity: 0.6;
}

/**************************************************************************************************/