/** Dependencies **********************************************************************************/

:root
{
    --carousell_button_width: 40px;
    --carousell_button_height: calc(100% - 80px);
    --carousell_button_padding: 10px;
}

/** Declarations **********************************************************************************/

.carousell_button
{
    top: 50%;
    width: var(--carousell_button_width);
    height: var(--carousell_button_height);
    z-index: 0;
    padding: var(--carousell_button_padding);
    position: absolute;
    transform: translateY(-50%);
}

.carousell_button.left
{
    left: 0px;
}

.carousell_button.right
{
    right: 0px;
}

.carousell_button i.material-icons
{
    top: 50%;
    left: 50%;
    width: var(--carousell_button_width);
    height: var(--carousell_button_width);
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: var(--carousell_button_width);
}

/**************************************************************************************************/