/** Dependencies **********************************************************************************/

:root
{
    --carousell_pages_radius: 4px;
    --carousell_pages_padding: 40px;
}

/** Declarations **********************************************************************************/

.carousell_pages
{
    top: 50%;
    left: 50%;
    width: 100%;
    margin: 0px;
    height: 100%;
    padding: 0px;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
}

.carousell_pages .page
{
    top: 50%;
    left: calc(50% - var(--carousell_pages_padding));
    width: calc(100% - (var(--carousell_pages_padding) * 2));
    margin: 0px var(--carousell_pages_padding);
    height: 100%;
    padding: 0px;
    opacity: 0.0;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all ease-out 0.3s;
    border-radius: var(--carousell_pages_radius);
}

.carousell_pages .page.active
{
    opacity: 1.0;
}

.carousell_pages .page.inactive-l
{
    left: calc(-150% + var(--carousell_pages_padding));
}

.carousell_pages .page.inactive-r
{
    left: calc( 150% - var(--carousell_pages_padding));
}

/**************************************************************************************************/